## Это общий файл игнора на репозиторий.
# Вносить в него правки крайне не рекомендуется, ввиду возможных конфликтов и проблем с обновлениями
# Если необходимо дополнительно игнорировать какие-либо файлы или папки - создаём в соответствующих
# подпапках новые .gitignore и вписываем в них что угодно.
# Подробнее можно проконсультироваться у Зибарева Артёма


## При добавлении своих .gitignore файлов, настоятельно рекомендуется игнорировать сам .gitignore
.gitignore

### Примеры игнорирования:
### игнорируем конкретный тип файлов
# *.html
###… кроме определенного файла
# !special.html
### можно использовать рег.выражения.
# *.[ao]
.vs/
obj/
bin/